[submodule "zola/themes/hyde"]
	path = themes/hyde
	url = https://github.com/getzola/hyde
[submodule "themes/even"]
	path = themes/even
	url = https://github.com/c-cube/even.git
[submodule "themes/zola-bearblog"]
	path = themes/zola-bearblog
	url = https://codeberg.org/alanpearce/zola-bearblog
[submodule "themes/dose"]
	path = themes/dose
	url = https://github.com/oltdaniel/dose.git
[submodule "themes/inky"]
	path = themes/inky
	url = https://github.com/jimmyff/zola-inky
