[submodule "pelican-themes"]
	path = pelican-themes
	url = https://github.com/getpelican/pelican-themes.git
[submodule "themes"]
	path = themes
	url = https://github.com/getpelican/pelican-themes.git
